<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>

    {% for message in messages %}
        <p class="{{message.tags}}">{{ message }}</p>
    {% endfor %}
    <form  method="post">
        {% csrf_token %}
        <label for="username">Username / email</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="password1">Password</label><br>
        <input type="password" name="password" id="password1"><br>
        <button>Login</button><br>
    </form>
    <p>Don't have an acccount? Click <a href="{% url 'signup' %}">Here</a> to signup</p>
</body>
</html>