<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign up page</h1>

    {% for message in messages %}
        <p class="{{message.tags}}">{{ message }}</p>
    {% endfor %}
    <form  method="post">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="password1">Password</label><br>
        <input type="password" name="password1" id="password1"><br>
        <label for="password2">Confirm Password</label><br>
        <input type="password" name="password2" id="password2"><br>
        <button>Create Account</button><br>
    </form>
    <p>Already have an acccount? Click <a href="{% url 'login' %}">Here</a> to login</p>
</body>
</html>